@use '../abstracts' as abs;

.list {

  &__list-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem .5rem;
    border-radius: 5px;
    background-color: abs.$color-light-semi-transperant;
  }

  &__container {
    position: relative;
    padding-left: 2.2rem;
    font-family: abs.$font-primary;
    font-size: abs.$fs-regular;
  }

  &__checkbox {
    position: absolute;
    width: 0;
    height: 0;
  }

  &__checkmark {
    position: absolute;
    top: calc(50% - (1.875rem / 2));
    left: 0;
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    background-size: 100%;
    background-repeat: no-repeat;

    &--unchecked {
      background-image: url(../../../images/check.svg);
    }

    &--checked {
      background-image: url(../../../images/checkFull.svg);
    }
  }
}