@use '../abstracts/' as abs;

.main__list {
  background-color: abs.$color-light-secondary;
  height: 58dvh;
  overflow-y: scroll;
}

.list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: 0.5rem;
}