$color-light-primary: #ffffff;
$color-dark-primary: #000000;
$color-dark-secondary: #023047;
$color-dark-background: #070917;
$color-accent: #DA722C;
$color-neutral: #6F7DFB;
$color-gradient-primary: linear-gradient(180deg, #6F7DFB, #26308C);
$color-gradient-secondary: linear-gradient(180deg, #6F7DFB, #3B448F);
$color-shadow-20: #00000033;
$color-shadow-25: #00000040;