@use '../abstracts'as abs;
@use '../utilities' as util;

.button {
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 1.5rem;
  font-weight: abs.$fw-bold;
  font-size: 1rem;
  color: abs.$color-light-primary;
  background-color: abs.$color-accent;

  @include util.media-lg {
    padding-block: 1rem;
    font-size: 1.125rem;
  }

  &:hover,
  &:focus {
    background-color: abs.$color-dark-secondary;
  }

  &--secondary {

    &::before {
      content: '';
      position: relative;
      top: .12rem;
      display: inline-block;
      margin-right: .625rem;
      width: 1rem;
      height: 1rem;
      background-image: url('../../../assets/images/PencilAlt.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.store-link {
  display: inline-flex;
  align-items: center;
  gap: .875rem;
  width: 19.375rem;
  padding-block: .75rem;
  padding-left: 2rem;
  color: abs.$color-light-primary;
  font-size: 1.5rem;
  line-height: 2;
  background-color: abs.$color-dark-background;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: abs.$color-accent;
  }

  @include util.media-md {
    padding-block: 1.25rem;
  }
}