@use '../abstracts/' as abs;
@use '../utilities' as util;

.heading {
  font-family: abs.$font-accent;
  font-weight: abs.$fw-black;
  font-size: 1.875rem;
  line-height: 1.2;

  @include util.media-md {
    font-size: 2.5rem;
  }

  @include util.media-lg {
    font-size: 3.75rem;
  }
}

.heading--main {
  font-size: 2.25rem;
  color: abs.$color-light-primary;
  line-height: 1.25;

  @include util.media-md {
    font-size: 3.125rem;
  }
}

.heading--primary,
.heading--secondary {
  text-align: center;
}

.heading--primary {
  color: abs.$color-dark-secondary;
}

.heading--secondary {
  color: abs.$color-light-primary;
}

.lead {
  font-weight: abs.$fw-regular;
  font-size: 1rem;
  line-height: 2;
}

.lead--primary {
  color: abs.$color-dark-secondary;
}

.lead--secondary {
  color: abs.$color-light-primary;
}