$color-dark-bace: #000000;
$color-dark-bace-70: #00000080;
$color-light-bace: #ccaa33;
$color-font-primary: #ffffff;
$color-font-secondary: #f8e08a;
$color-font-secondary-70: #f8e08ab3;
$color-font-secondary-30: #f8e08a4d;
$color-border-primary: #bd9a1c;
$color-scroll-primary: #5E4900;
$color-scroll-accent: #ECB800;