*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%no-borders {
  border: none;
  outline: none;
}

%amimation {
  transition: all .1s .1s ease-in-out;
}

a {
  @extend %no-borders, %amimation;
  text-decoration: none;
  color: inherit;
}

button,
button:focus {
  @extend %no-borders, %amimation;
  background: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input,
input:focus {
  @extend %no-borders;
}

