@mixin animation{
  transition: all .3s .1s ease-in-out;
}

@mixin block-animation{
  transition: none;
}

@mixin menu-animation {
  @keyframes sliding-menu {
    0% {
      height: 110dvh;
      transform: translateX(0);
    }

    50% {
      transform: translateX(100vw);
    }

    100% {
      height: 110dvh;
    }
  }
}