* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%no-borders {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
}

button,
button:focus {
  @extend %no-borders;
  background: none;
  cursor: pointer;
}

input,
input:focus {
  @extend %no-borders;
}